.boxing_model{
		border: 1px solid rgba(41, 43, 44, 0.14);
		box-sizing: border-box;
		width: 100%;
		display:inline-block;
		padding:2px 0px;
		
		}
.boxing_model:hover{
				background:#aabbcc !important;
			}		
.search_box{
    width: 100% !important;
    box-sizing: border-box !important;
    border: 2px solid #ccc !important;
    border-radius: 4px !important;
    font-size: 16px;
	color:black;
    background-color: white !important;
    background-image: url('../img/Search-15.png');
    background-position: 9px 7px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search_box:focus {
    width: 100% !important;
	text-align:left !important;
	}
.text_type{
		border-bottom:none !important;
		margin:0 10px;
		}
.upload_img{
			width:100% !important;
		}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:250px;
}
		
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.none{
	display:none !important;
}
.textarea_post{
				border:none !important;
				max-height:100%;
				}			
.textarea_post:focus{
				border:none !important;
				}			
.btn_shl{
		font-size: .8rem;
		padding: .60rem 1rem;
		border-radius: 2px;
		border: 0;
		color: #fff!important;
		margin: 6px;
		white-space: normal!important;
		word-wrap: break-word;
		}
.liker_list{
		height:55px;
		}	
.toggle-action {
    margin: 0px 8px -23px auto;
    background-color: #ffffff;
    height: 27px;
    width: 27px;
    line-height: 0;
}		
.theme_color{
			background-color:#2599b6!important;
			}
.dropdown-item:hover{
			background-color:#2599b6!important;
			}			
.toggle_nav{
			/* display:none; */
			}
.nav>li>a:hover {
		background:rgb(81, 173, 197) !important;
		}
.cursive{
	font-family:cursive;
	}			
			
.profile{
	border-radius:6px;
	height:100%;
	/* border:1px solid rgb(146, 159, 186) ;*/
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
	background:#fff;
}
.profile-details{
			padding: 3px 1.25rem;
			}
.avatar{
		margin-top:8px;
		}
.avatar_detail{
		font-size:19px !important;
		color:#ffffff;
		}	
.avatar_detail:hover{	
		color:#ffffff !important;
		}
.img-width{
		max-width:none !important;
		}		
.profile_detail{
				font-size:15px;
				padding:5px;
				}
.wallpaper{
	background:url('../img/wallpaper.jpg');
	}
.card_block{
			text-align:center;
			padding:0;
			}	
.card_detail{
			text-align:center;
			padding:1px;
			}
.counts{
		color:#0eb6f4 !important;
		font-size: x-large;
		}	
/* .navbar_self {
    position: fixed;
    padding: .5rem 1rem;
    width: 100%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}	 */
.fixed-top{
			position: fixed;
			width: 100%;
		}	
.top{
		margin-top:8%;
	}
.card_panel{
		position:absolute;
		padding:6px;
		}
.input_field{
			padding:5px;
			}	
.media{
		margin-left:19%;
		}
.media_type{
		padding:0 10px;
		}	
.textarea_post_ot{
		border:1px solid rgba(146, 159, 186, 0.16);
		max-height:48px;
		}
.btn_post:hover{
				box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}
.btn_post{
		border-radius: 4px;
		font-size: 16px;
		padding: 3px 9px;
		border: 0;
		color: #fff!important;
		white-space: normal!important;
		word-wrap: break-word;
		transition: .2s ease-out;
		}	
.col-1{
		width:23%;
		height:100%;
	}	
.col-2{
		width:50%;
		height:100%;
	}	
.col-3{
		width:23%;
		height:100%;
	}
.uploaded_content{
		max-height:100px;
		}
.activity{
		margin:10px 11%;
		float:left;
		}
.card-block-activity{
			padding:2px;
			}
.icons{
	font-size:21px;
	}	
.profile_name{
		font-size: 17px;
    color: black;
    font-weight: 600;
		}	
.timespan{
	font-size:13px;
	font-family:sans serif;
	}		
.point{
		font-size:20px;
		font-weight:300;
		padding:3px;
		}	
.right{
		float:right;
		}	
.left{
		float:left;
		}	
.center{
		    text-align: -webkit-center;
		}		
.list_style{
			margin-right: 20px;
			text-align: center;
			padding: 8px;
			border: 1px solid #e6e6e6;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			width: 175px;
			float:left;
			}	
.font_style{
			font-size:2em;
			color:#2599b6;
			}
			
body{
		background:#f5f8fa;
		}
.timeline_bar{		
				margin:0 !important;
			}	
.modal_option{
		margin:0 36%;
		}	
.double-nav{
		color:#000000 !important;
		}
.toggle_icon{
			font-size:1rem !important;
			line-height:28px !important;
			}		
.media{	
		margin-left:0px !important;
		margin-bottom: -10px !important;
		}	
.user_wall{
			/* background-image:url('../img/janpath.jpg') ;
			background-repeat: no-repeat;
			background-size:cover; */
			height:400px;
			background:rgba(0, 0, 0, 0.44);
			padding:initial;
			}	
.pointer{
		cursor:pointer;
		}
		
/* .justify-content-between {
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}	 */		
		
		/* media queries  for side navbar */
@media screen and (min-width: 600px) {
  .sidenav_view {
    visibility: hidden;
    clear: both;
    float: left;
    
    display: none;
  }
}
@media screen and (max-width: 500px) {
.mobile_view{
	visibility:hidden;
	clear:both;
	float:left;
}	
.search_box{
		width:100%;
		}
	
.search_box:focus{
	width:100%;
	text-align:left !important;
 }
.mobile_view_top{	
	margin:inherit;
	}
.modal_option{
		margin:0 7%;
		}	
.modal_bg_opacity{
		background:rgba(0, 0, 0, 0.45);
		}	
.modal_responsive_width{
		width:340px !important;
		}
.activity{		
		margin:2px 9%;
		}	
.notification_width{
			width:335px !important;
			}	
.reponsive_width{
		max-width:none !important;
		}
.sidenav_btn{
			left:none !important;
			}		
}
/* 	navigation bar styling*/
.navbar {
    border-color: #333;
    background-color: rgba(00,00,00,0.2);
}

@media(max-width:768px) {
.navbar .navbar-collapse {
    border-color: rgba(255,255,255,.09);
    background: rgba(70,10,200,0.4);
}
}

@media(min-width:768px) {
.navbar {
    padding: 12px 0;
    border: 0;
	background-color: transparent; 
   /*  background: rgba(70,10,200,0.4); */
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar.navbar-shrink {
    padding: 10px 0;
    background-color: #222567;
    background: #2599b6;
}

}

.coverheight{
    height:1000px;
    background-color:#fff;
}	
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.img-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 110; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.img-modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 100px;
}

/* Add Animation */
.img-modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closed {
    position: absolute;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closed:hover,
.closed:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .img-modal-content {
        width: 60%;
    }
}

img-crop{
		width:100% ;
		height:100%;
		display:block;
		position:relative;
		overflow:hidden;
		}
img-crop canvas{
			display:block;
			position:absolute;
			top:50%;
			left:50%;
			outline:0;
			-webkit-tap-highlight-color:transparent;
			}